<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    <title>Document</title>
</head>
<body>
    

<h1 style="text-align: center; color:rgba(255, 0, 0, 0.871); font-weight:bold">Gallery</h1>
<div class="gallery" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); gap: 10px; padding: 20px;">
        <img src="images/b1.webp" alt="Image 1" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b2.webp" alt="Image 2" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b3.webp" alt="Image 3" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b4.webp" alt="Image 1" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b5.webp" alt="Image 2" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b6.jpg" alt="Image 3" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b7.jpg" alt="Image 3" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b1.webp" alt="Image 3" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <!-- Add more images as needed -->
    </div>

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/jacascript"></script>
</body>
</html>