
{{!-- about us start --}}
<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About us</h1>
      <p class="text-center sub-heading">grow your business with us</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text ">
          <figure>
            <img src="images/about.svg" alt="image lost">
          </figure>
        </div>


        {{!-- right --}}
        <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
          <h1>WE ARE THE PROFESSIONAL DEVELOPERS</h1>
          <h1>GROW YOUR BUSINESS</h1>
          <P>Welcome To <span class="bold-style">SeventeenConsults</span>
          Your Number One Source For ALl Things.We're Dedicated To Giving You The Very Best Of work, With a Focus On [Three Characteristics ,That Is :Dependability, Customer Service And Uniqueness]
          
          </P>
          <button class="btn-style btn-primary">Read more</button>
          
        </div>
        
      </div>

    </div>

  </div>
</div>
{{!--about us ends --}}



<h1 style="text-align: center; color:rgba(255, 0, 0, 0.871); font-weight:bold">Gallery</h1>
<div class="gallery" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); gap: 10px; padding: 20px;">
        <img src="images/b1.webp" alt="Image 1" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b2.webp" alt="Image 2" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b3.webp" alt="Image 3" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b4.webp" alt="Image 1" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b5.webp" alt="Image 2" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b6.jpg" alt="Image 3" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b7.jpg" alt="Image 3" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <img src="images/b1.webp" alt="Image 3" style="width: 100%; height: auto; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease-in-out;">
        <!-- Add more images as needed -->
    </div>
