<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">grow your business with us</p>
      <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon">
        </div>

                        <h4>Settings</h4>
                        <p>Fine-tune your business settings for optimal performance. Customize and configure with precision for maximum efficiency..</p>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
            <div class="box">
                <div class="our-services speedup">
                    <div class="icon">
        </div>

                        <h4>SpeedUp</h4>
                        <p>Accelerate your business operations with our speed optimization solutions. Boost efficiency and performance for faster results..</p>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services ssl">
                    <div class="icon">
        </div>

                        <h4>Help</h4>
                        <p>Unlock the potential of your business with expert guidance. Let us help you navigate the path to success.</p>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services backups">
                    <div class="icon">
        </div>

                        <h4>Backups</h4>
                        <p>Secure your data with regular backups. Protect against loss and ensure business continuity with reliable backup solutions.</p>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services privacy">
                    <div class="icon">
                        
        </div>

                        <h4>Privacy</h4>
                        <p>Protect your business with cutting-edge security solutions. Safeguard your assets and data with our expert guidance.</p>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services database">
                    <div class="icon">
        </div>

                        <h4>Database</h4>
                        <p>Elevate your data management with our expertise. Optimize performance and reliability for your business databases.</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    </div>
 </div>